<tr id="idтовара_prod" class="product">
    <form>
        <td class="product_name">Название товара</td>
        <td class="product_description">
          <div class="product_description_bkg">
            Описание товара Описание товараОписание товара Описание товара Описание товара Описание товараОписание товараОписание товара Описание товара Описание товараОписание товараОписание товара Описание товара Описание товара Описание товараОписание товара<br>
            Цена : <div class="product_price">Цена</div>р.
          </div>
        </td>
        <td class="product_add">
          Введите количество : <input type="text" name="num"><br>
          <input type="button" value="Добавить">
        </td>
    </form>
  </tr>