{% extends 'esign/template.html' %}

{% block 'content' %}
<div id="section_header">Заказать ЭЦП</div>
<div class="text">У нас Вы можете оформить заказ на электронную подпись сразу для нескольких человек. Вам нужно только определиться с количеством и типами интересующих Вас подписей и оставить заявку с контактными данными, после чего наш оператор свяжется с Вами. Следует помнить, что одно лицо может иметь не более одной ЭЦП.
</div>
<div id="products_list">
    здесь будут buying_form
</div>
{% endblock %}