<tr id="{{sign_id}}_prod" class="product">
  <td class="product_name">{{sign_name}}</td>
  <td class="product_description">
    <div class="product_description_bkg">
      Описание товара Описание товараОписание товара Описание товара Описание товара Описание товараОписание товараОписание товара Описание товара Описание товараОписание товараОписание товара Описание товара Описание товара Описание товараОписание товара<br>
      Цена : <div class="product_price">{{sign_price}}</div>р.
    </div>
  </td>
  <td class="product_add">
    <form data-parsley-validate>
      Введите количество :
      <input type="text" name="num" class="product_count" data-parsley-type="digits" data-parsley-trigger="keyup" data-parsley-type-message="Введите количество цифрами">
      <input type="button" value="Добавить">
    </form>
  </td>
</tr>