{% extends 'esign/template.html' %}

{% block 'content' %}
<div id="section_header">Заказать ЭЦП</div>
<div class="text">У нас Вы можете оформить заказ на электронную подпись сразу для нескольких человек. Вам нужно только определиться с количеством и типами интересующих Вас подписей и оставить заявку с контактными данными, после чего наш оператор свяжется с Вами. Следует помнить, что одно лицо может иметь не более одной ЭЦП.
</div>
<div id="products_list">
    {% for i in products %}
        <div id="{{i.1}}" class="product">
            <form>
                {% csrf_token %}
                <div class="product_name">{{i.0}}</div>
                  <div class="product_description">
                    <div class="product_description_bkg">
                      Описание товара<br>
                      {{i.4}}
                      Цена : <div class="product_price">{{i.2}}</div>р.<br>
                    </div>
                  </div>
                  <div class="product_add">
                    Введите количество : <input type="text" name="{{i.1}}"><br>
                    <input type="button" value="Добавить">
                  </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}