<div id="idтовара_prod" class="product">
    <form>
        <div class="product_name">Название товара</div>
          <div class="product_description">
            <div class="product_description_bkg">
              Описание товара<br>
              .<br>
              .<br>
              .<br>
              .<br>
              .<br>
              Цена : <div class="product_price">Цена товара</div>р.<br>
            </div>
          </div>
          <div class="product_add">
            Введите количество : <input type="text" name="num"><br>
            <input type="button" value="Добавить">
          </div>
    </form>
</div>