<div id="section_header">Подтвердите ваш заказ</div>
<form>
 <table id="commit_orders_list">
 	здесь будет сделнный заказ
    <tr class="str"><td class="str_cell" colspan="2"><input type="submit" value="подтвердить"></tr>
 </table>
</form>
<script>
 $(document).ready(function ()
 	{
 		$("#cart").hide();
 		$("#floating_menu").hide();
 	}
 );
 $("#commit_orders_list").on("click", ".str input:button", function ()
 	{
 		$(this).closest(".inputs").find("input:text").val("0");
        $(this).closest(".str").hide();
 	}
 );
</script>