<form name="final_form" data-parsley-validate>
    <table class="questionnaire">
        <tr class="str">
            <td class="str_cell" colspan="2">
                Пожалуйста, введите контактные данные в анкету и отсавьте заявку. Оператор свяжется с Вами в течение нескольких минут
                <div class="final_order" id="fast">    
                    Ваш заказ :<br> <div class="final_order_text">заказ</div><br>
                    Итого : <div class="final_order_price">цена заказа</div><br>
                </div>
            </td>
        </tr>
        <tr class="str">
            <td class="name">Имя :</td>
            <td class="inputs"><input type="text" name="name" required data-parsley-required-message="Поле обязательно для заполнения"></td>
        </tr>
        <tr class="str">
            <td class="name">Адрес доставки :</td>
            <td class="inputs"><input type="text" name="address" required data-parsley-required-message="Поле обязательно для заполнения"></td>
        </tr>
        <tr class="str">
            <td class="name">Контактный телефон :</td>
            <td class="inputs"><input type="text" name="phone_number" required data-parsley-required-message="Поле обязательно для заполнения"></td>
        </tr>
        <tr class="str">
            <td class="str_cell" colspan="2">
                <input class="send_app" type="submit" value="Оставить заявку">
            </td>
        </tr>
    </table>
</form>