{% extends 'esign/template.html' %}

{% block 'content' %}
<div class="section_header">Как получить ЭЦП?</div>
<!--div class="video">
  <iframe width="420" height="315" src="http://www.youtube.com/embed/yNvB0U-IGfg" frameborder="0" allowfullscreen></iframe>
</div-->
<div class="text">Для получения ЭЦП Вам нужно сделать всего лишь 2 простых шага:</div>
<table>
  <tr>
    <td class="img_block">
      <img src="../../static/img/pic1-1.svg"></img>
      <img src="../../static/img/pic1-2.svg"></img>
    </td>
    <td>Оставьте заявку на нашем сайте или по телефону. После этого с Вами свяжется оператор для уточнения заказа, затем мы подготовим необходимые документы и ключ электронной подписи.</td>
  </tr>
  <tr>
    <td class="img_block">
      <img src="../../static/img/pic1-3.svg"></img>
      <img src="../../static/img/pic1-4.svg"></img>
    </td>
    <td>В назначенное Вами время и место доставки прибудет курьер. Чтобы завершить процесс получения Вам нужно предоставить паспортные данные и оставить образец подписи, после чего Вы получите флеш-носитель с протоколом ЭП и можете пользоваться приобретённым продуктом.</td>
  </tr>
</table>
<style>
  table {table-layout: fixed; width: 100%;}
  .img_block {width: auto;}
  .img_block img {display: inline;}
  td {font-size: 18px;}
</style>
{% endblock %}