{% extends 'esign/template.html' %}

{% block 'content' %}
<div class="section_header">Как получить ЭЦП?</div>
<!--div class="video">
  <iframe width="420" height="315" src="http://www.youtube.com/embed/yNvB0U-IGfg" frameborder="0" allowfullscreen></iframe>
</div-->
<div class="section_header">Как получить ЭЦП?</div>
<div class="text">Для получения ЭЦП Вам нужно сделать всего лишь несколько простых шагов:</div>
<table>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/click.svg" width="30%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; Оставьте заявку на нашем сайте или по телефону.</td>
  </tr>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/phone.svg" width="30%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; Через несколько минут с Вами свяжется оператор для согласования деталей заказа.</td>
  </tr>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/deliver.svg" width="25%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; В назначенное Вами время и место прибудет курьер.</td>
  </tr>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/docs.svg" width="30%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; Ознакомтесь с документацией.</td>
  </tr>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/hand.svg" width="70%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; Оставьте образец подписи.</td>
  </tr>
  <tr>
    <td class="img_cell">
      <img src="../../static/img/flash.svg" width="30%" height="auto"></img>
    </td>
    <td class="txt_cell">&#9675; Получите ключ ЭП на флеш-носителе.</td>
  </tr>
</table>
<style>
  table {table-layout: fixed; width: 100%;}
  td {font-size: 18px;}
  .img_cell {text-align: center; width : 30%;}
  .txt_cell {width: auto; border-bottom: 1px #bbbbbb solid;}
  hr {color : #00ffff;}
</style>
{% endblock %}