{% extends 'esign/template.html' %}

{% block 'content' %}
<div id="section_header">Заказать ЭЦП</div>
<div class="text">У нас Вы можете оформить заказ на электронную подпись сразу для нескольких человек. Вам нужно только определиться с количеством и типами интересующих Вас подписей и оставить заявку с контактными данными, после чего наш оператор свяжется с Вами. Следует помнить, что одно лицо может иметь не более одной ЭЦП.
</div>
<div id="products_list">
    <div class="product" id="fiz_ecp">
    	<form>
    		Электронная подпись для физического лица<br>
	        Цена : ---<br>
	        Введите количество : <input type="text" name="num_fiz">
	        <input type="button" value="Добавить">
	    </form>
    </div>
    <div class="product" id="yur_ecp">
    	<form>
    	    Электронная подпись для юридического лица<br>
	        Цена : ---<br>
	        Введите количество : <input type="text" name="num_yur">
	        <input type="button" value="Добавить">
	    </form>
    </div>
    <div class="product" id="ip_ecp">
    	<form>
    	    Электронная подпись для индивидуального предпринимателя<br>
	        Цена : ---<br>
	        Введите количество : <input type="text" name="num_ip">
	        <input type="button" value="Добавить">
	    </form>
	</div>
</div>
{% endblock %}