<!DOCTYPE html>
{% load staticfiles%}

<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="../../static/css/template_style.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/section_style.css">

  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://parsleyjs.org/dist/parsley.js"></script>
  <script src="../../static/js/parsley_ru.js"></script>

  <script src="../../static/js/fmenu.js" type="text/javascript"></script>
  <script src="../../static/js/cart.js" type="text/javascript"></script>
  <script src="../../static/js/validating.js" type="text/javascript"></script>


  <!--[if lt IE 8]>
    <style>
      .sect{display : inline; zoom : 1;background}
      #show_menu #show_menu_text {left : 70px; top : 33px;}
      #fquest {text-align : left; left : 0px; top : 0px;}
    </style>
  <![endif]-->

  <!--[if IE 7]>
    <style>
      #page_container {text-align : center;}
      #floating_menu {text-align : left;}
      #header_content, #footer_content {width : 1200px; margin-left: 0px; left : 0%;}
      #content_area {width : 1000px; left : 0%; margin-left: 0px;}
      .sect {font-size: 16px;}
      #navigation {top: -32px;}
      #cart {float : left; text-align : left; max-width : 60px;}
      #cart #orders_list {left : 200px;}
    </style>
  <![endif]-->

  <!--[if lt IE 7]>
    <style>
      body {filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#777777);}
      #page_bkg, #bkg_pattern {display : none;}
      #fmenu, #hidden_menu, #show_menu, #order_button {display : none}
      #cart {position : absolute; top : 50px; left : 85%;}
      #content {position : static;}
      #cart #orders_list {left : -300px;}
      #fquest {display : none;}
    </style>
  <![endif]-->

 </head>
 <body>
<!--TEMPLATE-->
 <div id="page_container">
  <div id="page_bkg"><div id="bkg_pattern"></div></div>
  <div id="header">
    <div id="header_content">
      <div id="name">здесь будет название</div>
      <div id="contacts">здесь будут контактные данные</div>
    </div>
  </div>
  <div id="content_area">
    <div id="navigation">
      <div class="sect" id="sect1"><a href="/">Главная</a></div>
      <div class="sect" id="sect2"><a href="/faq">Что такое ЭЦП</a></div>
      <div class="sect" id="sect3"><a href="/order">Купить ЭЦП</a></div>
      <div class="sect" id="sect4"><a href="/about">О нас</a></div>
      <div class="sect" id="sect5"><a href="/info">Доставка и оплата</a></div>
      <div class="sect" id="sect6"><a href="/catalog">Сертификаты</a></div>
    </div>
    <div id="content">
        {% block 'content' %}
        {% endblock %}
    </div>
  </div>
  <div id="footer">
    <div id="footer_content">
      <div id="bottom_logo">Логотип. название, 2015</div>
      <div id = "links">
        <a href="https://www.google.ru/">О нас</a>
        <a href="https://www.google.ru/">Сертификаты</a>
        <a href="https://www.google.ru/">Доставка и оплата</a>
      </div>
    </div>
  </div>
<!--FAST ORDER QUESTIONNAIRE-->
  <div id="fquest">

<form name="final_form" data-parsley-validate>
    <table class="questionnaire">
        <tr class="str">
            <td class="str_cell" colspan="2">
                Пожалуйста, введите контактные данные в анкету и отсавьте заявку. Оператор свяжется с Вами в течение нескольких минут
                <div class="final_order" id="fast">    
                    Ваш заказ : <div class="final_order_text">заказ</div><br>
                    Итого : <div class="final_order_price">цена заказа</div><br>
                </div>
            </td>
        </tr>
        <tr class="str">
            <td class="name">Имя :</td>
            <td class="inputs"><input type="text" name="name" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-validation-threshold="0"></td>
        </tr>
        <tr class="str">
            <td class="name">Адрес доставки :</td>
            <td class="inputs"><input type="text" name="address" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-validation-threshold="0"></td>
        </tr>
        <tr class="str">
            <td class="name">Контактный телефон :</td>
            <td class="inputs"><input type="text" name="phone_number" required data-parsley-required-message="Поле обязательно для заполнения" data-parsley-validation-threshold="0"></td>
        </tr>
        <tr class="str">
            <td class="str_cell" colspan="2">
                <input class="send_app" type="submit" value="Оставить заявку">
            </td>
        </tr>
    </table>
</form>

  </div>
<!--FLOATING MENU-->
  <div id="floating_menu">
    <div id="hidden_menu">
      Я - 
      <div id="show_fiz" class="show_floating_block">физ. лицо</div>
      /
      <div id="show_yur" class="show_floating_block">юр. лицо</div>
      /
      <div id="show_ip" class="show_floating_block">ИП</div>
    </div>
    <div id="hidden_menu_bkg"></div>
    <form name="order_form" class="commit_form" id="fmenu_form" data-parsley-validate>
      <div id="fiz" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text order_info">
          <input type="button" class="close_flblock" id="close_fiz" value="-">
          <div class="oname">Подпись 1</div>
          <div class="flblock_description">описание</div>
          Цена : <div class="oprice">1000</div>р.
          введите количество<input type="text" name="num1" data-parsley-type="digits" data-parsley-trigger="keyup" data-parsley-errors-container="#fmenu_err" data-parsley-type-message="Введите цифры" data-parsley-validation-threshold="0">
        </div>
      </div>
      <div id="yur" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text order_info">
          <input type="button" class="close_flblock" id="close_yur" value="-">
          <div class="oname">Подпись 2</div>
          <div class="flblock_description">описание</div>
          Цена : <div class="oprice">2000</div>р.
          введите количество<input type="text" name="num2" data-parsley-type="digits" data-parsley-trigger="keyup" data-parsley-errors-container="#fmenu_err" data-parsley-type-message="Введите цифры" data-parsley-validation-threshold="0">
        </div>
      </div>
      <div id="ip" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text order_info">
          <input type="button" class="close_flblock" id="close_ip" value="-">
          <div class="oname">Подпись 3</div>
          <div class="flblock_description">описание</div>
          Цена : <div class="oprice">3000</div>р.
          введите количество<input type="text" name="num3" data-parsley-type="digits" data-parsley-trigger="keyup" data-parsley-errors-container="#fmenu_err" data-parsley-type-message="Введите цифры" data-parsley-validation-threshold="0">
        </div>
      </div>
      <div id="order_button">
        <div id="fmenu_err"></div>
        <input type="submit" value="заказать">
      </div>
    </form>
    <div id="show_menu">
      <div id="show_menu_text"><div id="show_menu_rectangle">заказать прямо сейчас!</div></div>
      <div id="show_menu_bkg"></div>
    </div>  
  </div>
<!--CART-->
  <div id="cart">
    Корзина
    <div id="show_cart_orders">показать</div>
    <div id="cart_image"><div id="cart_items_count">0</div></div>
    <div id="cart_total_price">0</div> р.<br>
    <input type="button" value="оформить заказ" id="go_to_ordering">
    <div id="orders_list">

    </div>
  </div>

 </div>
 </body>
</html>
