<!DOCTYPE html>
{% load staticfiles%}

<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="../../static/css/template_style.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/section_style.css">

  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <script src="../../static/js/fmenu.js" type="text/javascript"></script>
  <script src="../../static/js/cart.js" type="text/javascript"></script>


  <!--[if lt IE 8]>
    <style>
      .sect{display : inline; zoom : 1;}
      .product{display : inline; zoom : 1;}
    </style>
  <![endif]-->

  <!--[if IE 7]>
    <style>
      #content {text-align : left;}
      #floating_menu {text-align : left;}
    </style>
  <![endif]-->

  <!--[if lt IE 7]>
    <style>
      #fmenu, #hidden_menu, #show_menu, #order_button {display : none}
      #cart {position : absolute; top : 50px; right : 10px; left : auto; bottom : auto;}
    </style>
  <![endif]-->

 </head>
 <body>
<!--TEMPLATE-->
 <div id="page_container">
  <div id="header">
    <div id="header_content">
      <div id="name">здесь будет название</div>
      <div id="contacts">здесь будут контактные данные</div>
    </div>
  </div>
  <div id="content_area">
    <div id="navigation">
      <div class="sect" id="sect1" href="main.html">Главная</div>
      <div class="sect" id="sect2">Что такое ЭЦП</div>
      <div class="sect" id="sect3" href="ordering.html">Оформить заказ</div>
      <div class="sect" id="sect4">О нас</div>
      <div class="sect" id="sect5">Доставка и оплата</div>
      <div class="sect" id="sect6">Сертификаты</div>
    </div>
    <div id="content">
        {% block 'content' %}
        {% endblock %}
    </div>
  </div>
  <div id="footer">
    <div id="footer_content">
      <div id="bottom_logo">Логотип. название, 2015</div>
      <div id = "links">
        <a href="https://www.google.ru/">О нас</a>
        <a href="https://www.google.ru/">Сертификаты</a>
        <a href="https://www.google.ru/">Доставка и оплата</a>
      </div>
    </div>
  </div>
<!--FLOATING MENU-->
  <div id="floating_menu">
    <div id="hidden_menu">
      Я - 
      <div id="show_fiz" class="show_floating_block">физ. лицо</div>
      /
      <div id="show_yur" class="show_floating_block">юр. лицо</div>
      /
      <div id="show_ip" class="show_floating_block">ИП</div>
    </div>
    <div id="hidden_menu_bkg"></div>
    <form name="order_form" id="oform">
      <div id="fiz" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text">
          <input type="button" class="close_flblock" id="close_fiz" value="-">
          подпись 1 и описание</br>
          введите количество<input type="text" name="num1">
        </div>
      </div>
      <div id="yur" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text">
          <input type="button" class="close_flblock" id="close_yur" value="-">
          подпись 2 и описание</br>
          введите количество<input type="text" name="num2">
        </div>
      </div>
      <div id="ip" class="floating_block">
        <div class="angle"></div>
        <div class="flblock_text">
          <input type="button" class="close_flblock" id="close_ip" value="-">
          подпись 3 и описание</br>
          введите количество<input type="text" name="num3">
        </div>
      </div>
      <div id="order_button"><input type="button" value="заказать"></div>
    </form>
    <div id="show_menu">
      <div id="show_menu_text"><div id="show_menu_rectangle">заказать прямо сейчас!</div></div>
      <div id="show_menu_bkg"></div>
    </div>  
  </div>
<!--CART-->
  <div id="cart">
    Корзина<br>
    <div id="cart_image"><div id="cart_items_count">0</div></div>
    <input type="button" value="показать" id="show_cart_orders">
    <div id="orders_list">
      здесь будет список заказов
    </div>
  </div>

 </div>
 </body>
</html>
