<!DOCTYPE html>
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <body>
 	<div class="header">здесь будет шапка</div>
  <div class="navigation">
    <div class="sect1">Главная</div>
    <div class="sect2">Что такое ЭЦП</div>
    <div class="sect3">оформить заказ</div>
    <div class="sect4">О нас</div>
    <div class="sect5">Доставка и оплата</div>
    <div class="sect6">Сертификаты</div>
  </div>
  <div class="content">
    здесь будет содержание каждого раздела
  </div>
 </body>
</html>
