<!DOCTYPE html>
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="style.css">

  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <link rel="stylesheet" type="text/css" href="ie_style.css">
  <![endif]-->

 </head>
 <body>
 <div id="page_container">
 	<div id="header">
    <div id="name">здесь будет название</div>
    <div id="contacts">здесь будут контактные данные</div>
  </div>
  <div id="navigation">
    <div class="sect" id="sect1">Главная</div>
    <div class="sect" id="sect2">Что такое ЭЦП</div>
    <div class="sect" id="sect3">оформить заказ</div>
    <div class="sect" id="sect4">О нас</div>
    <div class="sect" id="sect5">Доставка и оплата</div>
    <div class="sect" id="sect6">Сертификаты</div>
  </div>
  <div id="content_area">
    <div id="conent">
      здесь будет содержание каждого раздела
    </div>
  </div>

  <div id="floating_menu">
    <div id="hidden_menu">
      Я - 
      <div id="show_fiz">физ. лицо</div>
      /
      <div id="show_yur">юр. лицо</div>
      /
      <div id="show_ip">ИП</div>
      <form name="cart_form" id="cform">
        <div id="fiz" class="floating_block">
          подпись 1 и описание</br>
          введите количество<input type="text" name="num1">
        </div>
        <div id="yur" class="floating_block">
          подпись 2 и описание</br>
          введите количество<input type="text" name="num2">
        </div>
        <div id="ip" class="floating_block">
          подпись 3 и описание</br>
          введите количество<input type="text" name="num3">
        </div>
        <div id="order_button"><input type="submit" value="заказать"></div>
      </form>
    </div>
    <div id="show_menu">заказать прямо сейчас!</div>  
  </div>

 </div>
 </body>
</html>
