/*template style*/
html, body
{
	height : 100%;
	width : 100%;
}
body
{
	margin : 0%;
	background-color: #aaaaaa;
}
a
{
	color : #000000;
}
#page_container
{
	width : 100%;
	height : 100%;
	display : block;
}
#header
{
	width : 100%;
	background-color: #00ffff;
	display : block;
	height : 220px;
}
#name
{
	position : absolute;
	top : 100px;
	left : 50px;
	font-size : 40px;
	width: 400px;
}
#contacts
{
	position : absolute;
	left : 700px;
	top : 170px;
	min-width : 250px;
}
#navigation
{
	position : relative;
	width : 840px;
	background-color : #0000ff;
	font-size: 0;
	display : table;
}
.sect
{
	display : inline-block;
	width : 140px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size : 14px;
	text-align: center;
}
#content_area
{
	position : relative;
	display : block;
	width : 820px;
	min-height : 500px;
	padding : 10px 10px 10px 10px;
	background-color : #00ff00;
}
#content
{
	font-size : 10px;
}
#footer
{
	position : relative;
	display : block;
	width : 900px;
	min-height : 150px;
	padding-top : 10px;
}
#bottom_logo, #links
{
	display : inline;
}
#links a
{
	margin-left : 600px;
	display : block;
}
@media screen and (min-width : 840px)
{
	#content_area, #navigation
	{
		left : 50%;
	    margin-left : -420px;
	}
	#footer
	{
		left : 50%;
		margin-left: -450px;
	}
}
@media screen and (max-width : 950px)
{
	#header
	{
		width : 1000px;
	}
}
/*floating menu style*/
#floating_menu
{
	position: fixed;
	right : -250px;
	top : 50%;
	font-size: 15px;
	z-index: 0;
}
#show_menu
{
	position : absolute;
	left : -165px;
	top : -90px;
	width : 165px;
	height : 40px;
	display : block;
	background-color : transparent;
	cursor : pointer;
	text-align: left;
}
#show_menu #show_menu_bkg
{
	background-color: transparent;
	background-image: url(../img/pen.png);
        background-image: url({% static 'img/pen.png' %});
	height : 54px;
	width : 441px;
	display : block;
}
#show_menu #show_menu_bkg #show_menu_text
{
	position : absolute;
	text-align: center;
	width : 180px;
	font-size: 20px;
	padding-top: 10px;
	color : #ff0000;
	font-family: sans-serif;
}
#hidden_menu
{
	position: relative;
	display : block;
	width : 240px;
	height : 20px;
	padding-bottom: 5px;
	top : 0px;
	text-align: center;
	margin-top: -10px;
	border : 5px solid #888888;
	background-color : #ffffff;
	color : #000000;
	border-radius: 7px;
	z-index: 1;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	cursor : default;
}
#hidden_menu #hidden_menu_bkg
{
	position : absolute;
	width : 260px;
	height : 80px;
	display: block;
	background-color: transparent;
	background-image: url(../img/spring.png);
        background-image: url({% static 'img/spring.png' %});
	top : -80px;
	left : -5px;
}
.show_floating_block
{
	display : inline;
	cursor : pointer;
	text-decoration: underline;
}
.floating_block
{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 220px;
	height : 70px;
	display : block;
	background-color : #9BDCE4;
	padding-left : 10px;
	border-radius: 7px;
	z-index: 0;
}
.floating_block .angle
{
	position : absolute;
	display : block;
	height : 30px;
	width : 30px;
	left : -23px;
	background-image: url(../img/angle.png);
        background-image: url({% static 'img/angle.png' %});
	opacity : 1.0;
}
.close_flblock
{
	position : absolute;
	left : 210px;
	width : 20px;
	text-align : center;
	display : block;
	background-color: #999999;
}
#order_button
{
	position : absolute;
	text-align: center;
	top : 75px;
	left : 0px;
	width : 230px;
	height : 30px;
	background-color: transparent;
	display : block;
}
/*cart style*/
#cart
{
	position : fixed;
	left : 10px;
	bottom : 10px;
	background-color : #999999;
	display : block;
	height : 95px;
	width : 70px;
	text-align: center;
	font-size: 14px;
}
#cart_image
{
	background-color : #ffffff;
	display : block;
	width : 50px;
	height : 50px;
	margin-left: 10px;
}
#show_cart_orders
{
	width : 60px;
	height : 20px;
	font-size : 11px;
}
#orders_list
{
	display : block;
	width : 150px;
	min-height: 50px;
	margin-left : 70px;
	margin-top : -85px;
	text-align : left;
	padding-left : 5px;
	background-color : #bbbbbb;
}
