html, body {height : auto; width : 100%;}
body {margin : 0%; background-color: #777777;}
input[type="text"] {max-width: 30px;}
/*for all screen sizes*/

    /*page style*/
    #page_container {width : 100%; height : 100%; display : block; background: linear-gradient(to top, #777777, #63C2FF);
     background-image: -webkit-linear-gradient(top, #63C2FF, #777777);
     background-image: -moz-linear-gradient(top, #63C2FF, #777777);}
    #header {width : 120%; background-color: transparent; display : block; height : 250px; position: relative;
     box-shadow: inset 0px 0px 15px #ffffff; left : -10%;}
    #header_content {display : block; height : 100%; position : absolute;}
    #name {position: absolute; left : 10%; top : 60%; font-size: 30px; display: block; width : 500px;}
    #contacts {position: absolute; left : 60%; top : 70%; width : 250px; display: block;}
	#content_area {position : relative;
	 display : block; min-height : 500px; background-color : #ffffff; border-radius: 10px;
	 -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
     -khtml-border-radius: 10px;}
	#content {font-size : 10px; display: block; position: absolute; left: 20px; right: 20px;
	 top : 20px; bottom: 20px; width: auto; height : auto; box-shadow: inset 2px 2px 10px #888888;
	 border-radius: inherit; padding: 10px; text-align: left;}
	#navigation {font-size: 0px; position : absolute; right : 10px; display : table;
	 background-color: transparent; text-align: right;}
	.sect {height : 1.5em; padding : 0.5em 0.5em 0em 0.5em; display : inline-block;
	 vertical-align: center; text-align: center; background-color : #A8EFE1; font-family: sans-serif;
	 font-weight: bold; color : #16454C; cursor : pointer; margin-top: -3px;
	 border-width : 3px 3px 0px 3px; border-style: solid; border-color : #E0FFF6 #82C2C1 #679C9B #C3FFED;
	 border-radius: 7px 7px 0px 0px;
	 -webkit-border-radius: 7px 7px 0px 0px; 
     -moz-border-radius: 7px 7px 0px 0px; 
     -khtml-border-radius: 7px 7px 0px 0px;}
	#footer {position: relative; display : block; min-height: 150px; width : 100%; background-color: transparent;}
	#footer_content {position: relative; display: block;}
	#bottom_logo, #links {display : inline;}
    #links a {margin-left : 600px; display : block; color : #ffffff;}

	/*floating menu style*/
	#floating_menu {position: fixed; right : 0px; top : 35%; font-size: 15px; z-index: 0;}
	#hidden_menu {width : 230px; height : 35px; position: absolute; display : block; top : 0px; left : 0px;
	 text-align: center; margin-top: -10px; border : 5px solid #888888;
	 background-color : #ffffff; color : #000000; border-radius: 7px;
	 z-index: 1; font-size: 14px; font-family: sans-serif; font-weight: bold; cursor : default;}
	#hidden_menu_bkg {position : absolute; width : 260px; height : 80px; display: block;
	 background-color: transparent; background-image: url(../img/spring.png);
	 /*background-image: url({% static 'img/spring.png' %});*/ top : -85px; left : 0px; z-index: 2;}
	.show_floating_block {display : inline; cursor : pointer; text-decoration: underline;}
	.floating_block {width : 220px; height : 60px; font-size: 14px; position : absolute;
	 top : 0px; left : 10px; display : block; background-color : transparent; z-index: 0; opacity : 1.0;}
	.floating_block .angle {position : absolute; display : block; height : 30px; width : 30px; left : 0px;
	 top : 0px; background-image: url(../img/angle.png); /*background-image: url({% static 'img/angle.png' %});*/
	 opacity : 1.0;}
    .floating_block .flblock_text { background-color : #9BDCE4; position : absolute; left : 20px;
     display : block; width : auto; max-width: 90%; height : 100%; padding : 3px; border-radius: 7px;}
    .floating_block .flblock_text input[type="text"] {margin-left: 10px;}
    .floating_block .flblock_text .close_flblock {position : absolute; right : 0px; top: 0px; width : 20px;
     height : 20px; text-align : center; display : block; background-color: #999999;}
	#order_button {top : 70px; position : absolute; text-align: center; left : 0px; width : 230px;
	 height : 30px; background-color: transparent; display : block; z-index: 3;}
	#show_menu{position : absolute; left : -100px; top : -76px; display : block;
	 background-color : transparent; cursor : pointer; text-align: left;}
	#show_menu #show_menu_bkg {background-color: transparent; background-image: url(../img/pen.png);
     /*background-image: url({% static 'img/pen.png' %});*/ height : 33px; width : 397px; display : block;
     z-index: 2;}
    #show_menu #show_menu_text {position : absolute; display: block; font-size: 20px;
     background-color: transparent; width : 250px; height : 30px;
	 left : -40px; top: 143px;font-family: sans-serif; font-style: italic; z-index: 0;
	 /* Safari */
     -webkit-transform: rotate(-90deg);
     /* Firefox */
     -moz-transform: rotate(-90deg);
     /* IE */
     -ms-transform: rotate(-90deg);
     /* Opera */
     -o-transform: rotate(-90deg);
     /* Internet Explorer */
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
     background-color: transparent;}
    #show_menu #show_menu_text #show_menu_rectangle {background-color: #33ff55; width: auto;
     height : 100%; position: absolute; right : 0px;
     border-width: 3px 0px 3px 3px; border-style: solid; border-color: #00dd00;
     padding: 0px 5px; border-radius: 5px 0px 0px 5px;}

	 /*cart style*/
    #cart {position : fixed; left : 10px; bottom : 10px; background-color : transparent; display : block;
	 height : 95px; width : 70px; text-align: center; font-size: 18px; font-weight: bolder;
	 color : #ffffff;}
    #cart_image {display : block; width : 50px; height : 50px; margin-left: 10px;
     position : relative; background-image: url(../img/cart.png)}
    #cart_image #cart_items_count {position : absolute; top : -4px; right : -3px;}
    #show_cart_orders {width : 60px; height : 20px; font-size : 11px;}
    #orders_list {display : block; min-width : 150px; height : auto; position : absolute; bottom : 0px; left : 75px;
	 text-align : left; padding : 5px; background-color : #bbbbbb;
	 font-size: 16px; font-weight: normal; color : #000000; border-radius: 5px;
	 border : 2px #ffffff solid;}
/*for each screen size range*/
@media all and (min-width:  1200px)
{
	#header_content, #footer_content {width : 1200px; margin-left: -600px; left : 50%;}
	#content_area {width : 1000px; left : 50%; margin-left: -580px;}
	.sect {font-size: 16px;}
	#navigation {top: -32px;}
}
@media all and (max-width:  1200px)
{
	#header_content, #footer_content {width : 1000px; margin-left: -500px; left : 50%;}
	#content_area {width : 870px; left : 50%; margin-left: -455px;}
	.sect {font-size: 14px;}
	#navigation {top: -28px;}
}
@media all and (max-width: 900px)
{
	#header_content, #footer_content {width : 850px; margin-left: -425px; left : 50%;}
	#content_area {width : 700px; left : 50%; margin-left: -390px;}
	.sect {font-size: 12px;}
	#navigation {top : -24px;}
}
@media all and (max-width: 770px)
{
	#content_area, #footer_content {left : 0%; margin-left: 0px;}
	#header_content {left : 10%; margin-left: -70px;}
}
