html, body {width : 100%; height: auto; margin: 0; padding: 0;}
input[type="text"] {max-width: 30px;}
.btn1 {background: linear-gradient(to top, #00DD00, #33FF55);
     background-image: -webkit-linear-gradient(top, #33FF55, #00DD00);
     background-image: -moz-linear-gradient(top, #33FF55, #00DD00);
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#33FF55, endColorstr=#00DD00);
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF55, endColorstr=#00DD00)";
	 border-radius: 7px;
	 -webkit-border-radius: 7px; 
     -moz-border-radius: 7px; 
     -khtml-border-radius: 7px;
     font-family: arial; font-weight: bold; padding: 3px;
     border-width : 2px; border-color : #D9FFD7 #02C928 #008730 #8DFD88;
     border-style: solid; cursor: pointer; box-shadow: 3px 3px 3px rgba(0,0,0,0.2);}
.btn2 {background: linear-gradient(to top, #71A9B0, #BDEFF5);
     background-image: -webkit-linear-gradient(top, #BDEFF5, #71A9B0);
     background-image: -moz-linear-gradient(top, #BDEFF5, #9ECCD2);
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#BDEFF5, endColorstr=#71A9B0);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BDEFF5, endColorstr=#71A9B0)";
     border : 1px #59767A solid;
     border-radius: 4px;
     -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
     -khtml-border-radius: 4px;
     padding: 3px;
     font-family: arial; font-weight: bold; cursor: pointer; box-shadow: 3px 3px 3px rgba(0,0,0,0.2);}
.btn3 {font-family : arial; font-weight: bold; border : none; background-color: #0039A2; color : #ffffff;
     border-radius: 7px;
     -webkit-border-radius: 7px; 
     -moz-border-radius: 7px; 
     -khtml-border-radius: 7px; padding-top : 0.1em; padding-bottom: 0.25em; cursor: pointer;}
/*for all screen sizes*/
    /*page style*/
    #page_container {width : 100%; height : 100%; display : block; position: relative;}
    #page_bkg {position : fixed; width : 100%; height : 100%; top : 0px; left : 0px;
     background: linear-gradient(to top, #87A0B8, #EBF5FE);
     background-image: -webkit-linear-gradient(top, #EBF5FE, #87A0B8);
     background-image: -moz-linear-gradient(top, #EBF5FE, #87A0B8);
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EBF5FE, endColorstr=#87A0B8);
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DBE9F6, endColorstr=#4369A9)";
     }
    /*#bkg_pattern {display: block; width: 100%; height : 100%; opacity: 0.2;
     background-image: url(../img/background.png);}*/
    #header {width : 100%; display : block; position: relative; height: 370px;}
    #header_content,#footer_content {left : 50%; width : 1000px; margin-left: -500px; display : block; height : 100%; position : relative;}
    #header_content img {width : 1000px; position: absolute; left: -200px;}
    #name {position: absolute; left : 30%; top : 20%; display: block; font-size: 40px; color : #ffffff; font-weight: bolder;}
    #contacts {position: absolute; right : 0%; bottom : 30%; display: block;
     font-size: 20px;}
	#content_area {position : relative; height : auto; padding : 2em;
	 display : block; min-height : 500px; background-color : #ffffff;
     box-shadow: 0em 4em 6em 0em rgba(0,0,0,0.7);
     -moz-box-shadow: 0em 4em 6em 0em rgba(0,0,0,0.7);
     -webkit-box-shadow: 0em 4em 6em 0em rgba(0,0,0,0.7);
     width : 100em; left : 50%; margin-left: -57em;}
	#content {font-size : inherit; width: 98em; padding: 1em; height : auto; box-shadow: inset 2px 2px 10px rgba(0,0,0,0.3);
     text-align: left; min-height: 480px; position: relative; display: block;
     border-radius: 10px;
     -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
     -khtml-border-radius: 10px;}
    #fquest {position: fixed; top : 120px; width : 100%; z-index: 2;}
    #fquest .questionnaire {padding-top: 1em;}
    #close_fquest {position: absolute; top: 2em; right: 20%; display: block; z-index: 3;
     cursor: pointer; height : 1em; width : 2em;
     font-size : 1.8em; font-weight: bold; text-align: center; color : #ffffff;
     background-color: #777777;
     border-radius: 0px 10px 0px 10px;
     -webkit-border-radius: 0px 10px 0px 10px; 
     -moz-border-radius: 0px 10px 0px 10px; 
     -khtml-border-radius: 0px 10px 0px 10px;
     border-color : #ffffff; border-width: 2px; border-style : solid;}
    #nav_container {display: block; width: 100%; position: relative; background-color: rgba(0,0,0,0.6); padding: 3em 0em;
     outline : 2px #BCDEFE solid;}
	#navigation {background-color: transparent; display: block; z-index: 1;
	 position: relative; left: 50%; margin-left: -57em; width: 104em;}
	#nav_tb {display: table; font-size: 0px; text-align: right; width: 100%;}
	.sect {display : inline-block; text-align: center; width: auto;
	 border-width : 2px; border-color : #8AADF6 #113AC9 #285BD3 #B8C9F7; border-style: solid;
	 background: linear-gradient(to top, #2A64EA, #8AADF6);
     background-image: -webkit-linear-gradient(top, #8AADF6, #2A64EA);
     background-image: -moz-linear-gradient(top, #8AADF6, #2A64EA);
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8AADF6, endColorstr=#2A64EA);
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8AADF6, endColorstr=#2A64EA)";
	 position: relative;}
    .sect a {display: inline-block; height : 1em; padding : 0.5em; color : #ffffff;
     text-decoration: none; font-family: courier; font-weight: bold;}
    #sect1 {border-radius: 1em 0px 0px 0px;
     -webkit-border-radius: 1em 0px 0px 0px; 
     -moz-border-radius: 1em 0px 0px 0px; 
     -khtml-border-radius: 1em 0px 0px 0px;}
    #sect6 {border-radius: 0px 0px 1em 0px;
     -webkit-border-radius: 0px 0px 1em 0px; 
     -moz-border-radius: 0px 0px 1em 0px; 
     -khtml-border-radius: 0px 0px 1em 0px;}
	#footer {position: relative; display : block; height: 150px; width : 100%;
	 background-color: rgba(0,0,0,0.4); border-top : 5px #BCDEFE solid;}
	#bottom_logo, #links {font-size: 1.6em; position: absolute; top : 10%;}
	#bottom_logo {left: 20%; color : #ffffff; font-weight: bolder;}
	#links {right: 15%;}
    #links a {color : #ffffff; display: block;}

	/*floating menu style*/
	#floating_menu {position: fixed; right : 0px; top : 35%; font-size: 15px; z-index: 3;}
	#hidden_menu {width : 230px; height : 35px; position: absolute; display : block; top : 0px; left : 0px;
	 text-align: center; margin-top: -10px; border : 5px solid #888888;
	 background-color : #ffffff; color : #000000; border-radius: 7px;
	 z-index: 1; font-size: 14px; font-family: sans-serif; font-weight: bold; cursor : default;}
	#hidden_menu_bkg {position : absolute; width : 260px; height : 80px; display: block;
	 background-color: transparent; background-image: url(../img/spring.png);
	 /*background-image: url({% static 'img/spring.png' %});*/ top : -85px; left : 0px; z-index: 2;}
	.show_floating_block {display : inline; cursor : pointer; text-decoration: underline;}
	.floating_block {width : 200px; height : auto; font-size: 14px; position : absolute;
	 top : 0px; left : 10px; display : block; background-color : transparent; z-index: 0; opacity : 1.0;}
	.floating_block .angle {position : absolute; display : block; width : 30px; height: 30px; left : 0px;
	 top : 0px; background-image: url(../img/angle.png); /*background-image: url({% static 'img/angle.png' %});*/
	 opacity : 1.0;}
    .floating_block .flblock_text {background-color : #9BDCE4; position : relative; left : 20px; top : 0px;
     display : block; width : auto; height: auto; padding: 5px; padding-right: 22px; margin-bottom: 5px;
     border-radius: 7px;
	 -webkit-border-radius: 7px; 
     -moz-border-radius: 7px; 
     -khtml-border-radius: 7px;}
    .floating_block .flblock_text .oname {font-size: 1.2em; font-weight: bolder;}
    .floating_block .flblock_text .oprice {display: inline;}
    .floating_block .flblock_text input[type="text"] {position : relative; left: 10px;}
    .floating_block .flblock_text .close_flblock {position : absolute; right : 0px; top: 0px; width : 20px;
     padding-bottom: 2px;text-align : center; display : block; background-color: #777777; color: #9BDCE4; font-weight: bold;
     border : none; cursor: pointer; border-radius: 7px;
	 -webkit-border-radius: 7px; 
     -moz-border-radius: 7px; 
     -khtml-border-radius: 7px;}
    #fmenu_err {color: #ff0000; position: absolute; font-size: 12px; top : -15px; height: 25px; display: block; overflow: hidden;}
	#order_button {top : 70px; position : absolute; text-align: center; left : 10px; width : 230px;
	 height : auto; background-color: transparent; display : block; z-index: 3;}
	#order_button input {margin-bottom: 10px; margin-top: 15px; font-size: 16px;}
	#show_menu{position : absolute; left : -100px; top : -76px; display : block;
	 background-color : transparent; cursor : pointer; text-align: left;}
	#show_menu #show_menu_bkg {background-color: transparent; background-image: url(../img/pen.png);
     /*background-image: url({% static 'img/pen.png' %});*/ height : 33px; width : 397px; display : block;
     z-index: 2;}
    #show_menu #show_menu_text {position : absolute; display: block; font-size: 20px;
     background-color: transparent; width : 250px; height : 30px;
	 left : -40px; top: 143px;font-family: sans-serif; font-style: italic; z-index: 0;
	 /* Safari */
     -webkit-transform: rotate(-90deg);
     /* Firefox */
     -moz-transform: rotate(-90deg);
     /* IE */
     -ms-transform: rotate(-90deg);
     /* Opera */
     -o-transform: rotate(-90deg);
     /* Internet Explorer */
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
     background-color: transparent;}
    #show_menu #show_menu_text #show_menu_rectangle {background-color: #33ff55; width: auto;
     height : 100%; position: absolute; right : 0px;
     border-width: 3px 0px 3px 3px; border-style: solid; border-color: #00dd00;
     padding: 0px 5px; border-radius: 5px 0px 0px 5px;}

	 /*cart style*/
    #cart {position : fixed; left : 10px; bottom : 10px; background-color : transparent; display : block;
	 height : auto; width : auto; text-align: center; font-size: 18px; font-weight: bolder;
	 color : #000000;}
    #cart #cart_image {display : block; width : 50px; height : 50px; margin : 2px auto;
     position : relative; background-image: url(../img/cart.png);}
    #cart #cart_image #cart_items_count {position : absolute; top : -4px; right : -3px;}
    #cart #show_cart_orders {font-size : 12px; font-weight : bolder; font-size: 14px;
     text-decoration : underline; cursor: pointer;}
    #cart #cart_total_price {display: inline;}
    #cart #go_to_ordering {font-size: 14px;}
    #cart #orders_list {display : block; width : auto; height : auto; position : absolute;
     bottom : 0px; left : 100%;
	 text-align : left; padding : 5px; background-color : #ffffff;
     box-shadow : inset 0px 0px 8px #71A9B0;
	 font-size: 16px; font-weight: normal; color : #000000; border-radius: 5px;
	 /*border : 2px #ffffff solid;*/}
	#orders_list .item {border-width: 1px 0px 0px 0px; border-style: solid; border-color : #71A9B0; width: 300px;}

/*for each screen size range*/
@meadia all and (min-width: 1600px)
{
	#page_container {font-size: 12px;}
	.sect {font-size: 20px;}
}
@media all and (min-width : 1200px)
{
	#page_container {font-size: 10px;}
	.sect {font-size: 20px;}
}
@media all and (max-width : 1200px)
{
	#page_container {font-size: 8px;}
	.sect {font-size: 16px;}
}
@media all and (max-width: 1000px)
{
	#header_content, #footer_content {left : 0%; margin-left: 0px;}
}
@media all and (max-width: 900px)
{
	#content_area {left : 0%; margin-left: 0em;}
	#navigation {left: 0em; margin-left: 0em;}
}